<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>归档</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
    <!-- 导航 -->
    <nav class="ui inverted attached segment m-padded-tb-mini m-shadom-small">
        <div class="ui container">
            <div class="ui inverted menu secondary stackable">
                <h2 class="ui teal header item">Blog</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon "></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon "></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon "></i>标签</a>
                <a href="#" class="active m-item item m-mobile-hide"><i class="mini clone icon "></i>归档</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini info icon "></i>关于我</a>
                <div class="m-item right item m-mobile-hide">
                    <div class="ui icon input transparent inverted" >
                            <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="menu toggle ui black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <!-- 中间 -->
        <div class="m-container-small m-padded-tb-big">
            <div class="ui container">
<!--                header-->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">归档</h3>
                        </div>
                        <div class="right aligned column">
                            共<h2 class="ui orange header m-text-thin m-inlined-block">114</h2>篇博客
                        </div>
                    </div>
                </div>
                <h3 class="ui center aligned header">2017</h3>
                <div class="ui vertical menu fluid vertical">
                    <a href="#" target="_blank" class="item">
                        <span>
                            <i class="mini teal icon circle"></i>《关于我爸和后妈穿越时空恋爱这件事》
                            <div class="ui teal basic left pointing label m-padded-tb-mini">9月03日</div>
                        </span>
                        <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
                    </a>
                    <a href="#" target="_blank" class="item">
                        <span>
                            <i class="mini teal icon circle"></i>《霸道总裁爱上我》
                            <div class="ui teal basic left pointing label m-padded-tb-mini">9月02日</div>
                        </span>
                        <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
                    </a>
                    <a href="#" target="_blank" class="item">
                        <span>
                            <i class="mini teal icon circle"></i>《辉夜大小姐想让我告白，天才们的恋爱头脑战》
                            <div class="ui teal basic left pointing label m-padded-tb-mini">9月01日</div>
                        </span>
                        <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
                    </a>
                </div>
                <h3 class="ui center aligned header">2016</h3>
                <div class="ui vertical menu fluid vertical">
                    <a href="#" target="_blank" class="item">
                        <span>
                            <i class="mini teal icon circle"></i>《关于我爸和后妈穿越时空恋爱这件事》
                            <div class="ui teal basic left pointing label m-padded-tb-mini">9月03日</div>
                        </span>
                        <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
                    </a>
                    <a href="#" target="_blank" class="item">
                        <span>
                            <i class="mini teal icon circle"></i>《霸道总裁爱上我》
                            <div class="ui teal basic left pointing label m-padded-tb-mini">9月02日</div>
                        </span>
                        <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
                    </a>
                    <a href="#" target="_blank" class="item">
                        <span>
                            <i class="mini teal icon circle"></i>《辉夜大小姐想让我告白，天才们的恋爱头脑战》
                            <div class="ui teal basic left pointing label m-padded-tb-mini">9月01日</div>
                        </span>
                        <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
                    </a>
                    <a href="#" target="_blank" class="item">
                        <span>
                            <i class="mini teal icon circle"></i>《辉夜大小姐想让我告白，天才们的恋爱头脑战》
                            <div class="ui teal basic left pointing label m-padded-tb-mini">9月01日</div>
                        </span>
                        <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
                    </a>
                    <a href="#" target="_blank" class="item">
                        <span>
                            <i class="mini teal icon circle"></i>《辉夜大小姐想让我告白，天才们的恋爱头脑战》
                            <div class="ui teal basic left pointing label m-padded-tb-mini">9月01日</div>
                        </span>
                        <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
                    </a>
                </div>
                <h3 class="ui center aligned header">2015</h3>
                <div class="ui vertical menu fluid vertical">
                    <a href="#" target="_blank" class="item">
                        <span>
                            <i class="mini teal icon circle"></i>《关于我爸和后妈穿越时空恋爱这件事》
                            <div class="ui teal basic left pointing label m-padded-tb-mini">9月03日</div>
                        </span>
                        <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
                    </a>
                    <a href="#" target="_blank" class="item">
                        <span>
                            <i class="mini teal icon circle"></i>《霸道总裁爱上我》
                            <div class="ui teal basic left pointing label m-padded-tb-mini">9月02日</div>
                        </span>
                        <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
                    </a>
                    <a href="#" target="_blank" class="item">
                        <span>
                            <i class="mini teal icon circle"></i>《辉夜大小姐想让我告白，天才们的恋爱头脑战》
                            <div class="ui teal basic left pointing label m-padded-tb-mini">9月01日</div>
                        </span>
                        <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
                    </a>
                    <a href="#" target="_blank" class="item">
                        <span>
                            <i class="mini teal icon circle"></i>《辉夜大小姐想让我告白，天才们的恋爱头脑战》
                            <div class="ui teal basic left pointing label m-padded-tb-mini">9月01日</div>
                        </span>
                        <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
                    </a>
                    <a href="#" target="_blank" class="item">
                        <span>
                            <i class="mini teal icon circle"></i>《辉夜大小姐想让我告白，天才们的恋爱头脑战》
                            <div class="ui teal basic left pointing label m-padded-tb-mini">9月01日</div>
                        </span>
                        <div class="ui orange basic left pointing label m-padded-tb-mini">原创</div>
                    </a>
                </div>
            </div>
        </div>
    <!-- 底部 -->
    <footer class="ui vertical segment inverted m-padded-tb-massive">
        <div class="ui container center aligned">
            <div class="ui grid divided inverted stackable">
                <div class="three wide column">
                    <div class="ui list link inverted">
                        <div class="item">
                            <h4>锦兰↓</h4>
                            <img style="height: 200px" src="../static/images/jinlan.jpg" class="ui image rounded" alt="">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4>最新博客</h4>
                    <div class="ui list link inverted m-opacity-mini m-text-thin m-text-spaced">
                        <a href="#" class="item">博客1</a>
                        <a href="#" class="item">博客2</a>
                        <a href="#" class="item">博客3</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4>联系我</h4>
                    <div class="ui list link inverted m-opacity-mini m-text-thin m-text-spaced ">
                        <a href="#" class="item">QQ:88888888</a>
                        <a href="#" class="item">Email:88888888@qq.com</a>
                        <a href="#" class="item">Tel:13888888888</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4>最新博客</h4>
                    <p class="m-opacity-mini m-text-thin m-text-spaced">这是我的一些博客内容。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。</p>
                </div>
            </div>
            <div class="ui divider section inverted"></div>
            <p class="m-opacity-mini m-text-thin m-text-spaced">京ICP证030173号 京网文|2013|0934-983号 Copyright ©2020 Xiaorong</p>
        </div>
    </footer>

<script src="../static/js/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });
    </script>
</body>

</html>