<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>标签</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
    <!-- 导航 -->
    <nav class="ui inverted attached segment m-padded-tb-mini m-shadom-small">
        <div class="ui container">
            <div class="ui inverted menu secondary stackable">
                <h2 class="ui teal header item">Blog</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon "></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon "></i>分类</a>
                <a href="#" class="active m-item item m-mobile-hide"><i class="mini tags icon "></i>标签</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini clone icon "></i>归档</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini info icon "></i>关于我</a>
                <div class="m-item right item m-mobile-hide">
                    <div class="ui icon input transparent inverted" >
                            <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="menu toggle ui black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <!-- 中间 -->
        <div class="m-container-small m-padded-tb-big">
            <div class="ui container">
<!--                header-->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">标签</h3>
                        </div>
                        <div class="right aligned column">
                            共<h2 class="ui orange header m-text-thin m-inlined-block">14</h2>页
                        </div>
                    </div>
                </div>
                <div class="ui attached segment m-padded-tb-large">
                    <a target="_blank" href="#" class="ui teal basic left pointing label m-margin-tb-tiny large">
                        方法论
                        <div class="detail">14</div>
                    </a>
                    <a target="_blank" href="#" class="ui basic left pointing label m-margin-tb-tiny large">
                        方法论
                        <div class="detail">14</div>
                    </a>
                    <a target="_blank" href="#" class="ui basic left pointing label m-margin-tb-tiny large">
                        方法论
                        <div class="detail">14</div>
                    </a>
                    <a target="_blank" href="#" class="ui basic left pointing label m-margin-tb-tiny large">
                        方法论
                        <div class="detail">14</div>
                    </a>
                    <a target="_blank" href="#" class="ui basic left pointing label m-margin-tb-tiny large">
                        方法论
                        <div class="detail">14</div>
                    </a>
                    <a target="_blank" href="#" class="ui basic left pointing label m-margin-tb-tiny large">
                        方法论
                        <div class="detail">14</div>
                    </a>
                    <a target="_blank" href="#" class="ui basic left pointing label m-margin-tb-tiny large">
                        方法论
                        <div class="detail">14</div>
                    </a>
                    <a target="_blank" href="#" class="ui basic left pointing label m-margin-tb-tiny large">
                        方法论
                        <div class="detail">14</div>
                    </a>
                    <a target="_blank" href="#" class="ui basic left pointing label m-margin-tb-tiny large">
                        方法论
                        <div class="detail">14</div>
                    </a>
                    <a target="_blank" href="#" class="ui basic left pointing label m-margin-tb-tiny large">
                        方法论
                        <div class="detail">14</div>
                    </a>
                    <a target="_blank" href="#" class="ui basic left pointing label m-margin-tb-tiny large">
                        方法论
                        <div class="detail">14</div>
                    </a>
                </div>
                <div class="ui teal segment m-padded-clear">
                    <div class="ui segment padded vertical m-padded-tb-big">
                            <div class="ui grid mobile reversed stackable">
                                <div class="eleven wide column">
                                    <h3 class="ui header ">我的《母亲》</h3>
                                    <p class="m-text">
                                        母亲的记忆大多都是浙江开始的，别看敖丙是个贵州遵义人，但是成长基本上都是在浙江了。
                                        打记事以来就是跟父母在浙江各大城市打工游离，这可能也是云贵川一带打工人当时的状况。
                                        庆幸的是，不管多苦多累，父母都选择了把我带在身边，不离不弃，没让...
                                    </p>
                                    <div class="ui grid">
                                        <div class="row">
                                            <div class="eleven wide column">
                                                <div class="ui link list horizontal">
                                                    <div class="item">
                                                        <img src="../static/images/dio.jpg" alt="dio" class="ui image avatar">
                                                        <div class="content"><a href="#" class="header">小容</a></div>
                                                    </div>
                                                    <div class="item">
                                                        <i class="icon calendar"></i> 2020年7月3日
                                                    </div>
                                                    <div class="item">
                                                        <i class="icon eye"></i> 158
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="five wide column aligned right">
                                                <a href="#" target="_blank" class="ui label teal basic m-text-thin m-padded-tiny">认知升级</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="column">
                                                <a class="ui left pointing label basic teal m-text-thin m-padded-tb-mini ">方法论</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column">
                                    <a href="#" target="_blank" >
                                        <img style="width: 400px; height: 170px" class="ui image rounded" src="../static/images/jinlan.jpg" alt="dio">
                                    </a>
                                </div>
                            </div>
                    </div>
                    <div class="ui segment padded vertical m-padded-tb-big">
                        <div class="ui grid mobile reversed stackable">
                            <div class="eleven wide column">
                                <h3 class="ui header ">我的《母亲》</h3>
                                <p class="m-text">
                                    母亲的记忆大多都是浙江开始的，别看敖丙是个贵州遵义人，但是成长基本上都是在浙江了。
                                    打记事以来就是跟父母在浙江各大城市打工游离，这可能也是云贵川一带打工人当时的状况。
                                    庆幸的是，不管多苦多累，父母都选择了把我带在身边，不离不弃，没让...
                                </p>
                                <div class="ui grid">
                                    <div class="row">
                                        <div class="eleven wide column">
                                            <div class="ui link list horizontal">
                                                <div class="item">
                                                    <img src="../static/images/dio.jpg" alt="dio" class="ui image avatar">
                                                    <div class="content"><a href="#" class="header">小容</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="icon calendar"></i> 2020年7月3日
                                                </div>
                                                <div class="item">
                                                    <i class="icon eye"></i> 158
                                                </div>
                                            </div>
                                        </div>
                                        <div class="five wide column aligned right">
                                            <a href="#" target="_blank" class="ui label teal basic m-text-thin m-padded-tiny">认知升级</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="column">
                                            <a class="ui left pointing label basic teal m-text-thin m-padded-tb-mini ">方法论</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank" >
                                    <img style="width: 400px; height: 170px" class="ui image rounded" src="../static/images/jinlan.jpg" alt="dio">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment padded vertical m-padded-tb-big">
                        <div class="ui grid mobile reversed stackable">
                            <div class="eleven wide column">
                                <h3 class="ui header ">我的《母亲》</h3>
                                <p class="m-text">
                                    母亲的记忆大多都是浙江开始的，别看敖丙是个贵州遵义人，但是成长基本上都是在浙江了。
                                    打记事以来就是跟父母在浙江各大城市打工游离，这可能也是云贵川一带打工人当时的状况。
                                    庆幸的是，不管多苦多累，父母都选择了把我带在身边，不离不弃，没让...
                                </p>
                                <div class="ui grid">
                                    <div class="row">
                                        <div class="eleven wide column">
                                            <div class="ui link list horizontal">
                                                <div class="item">
                                                    <img src="../static/images/dio.jpg" alt="dio" class="ui image avatar">
                                                    <div class="content"><a href="#" class="header">小容</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="icon calendar"></i> 2020年7月3日
                                                </div>
                                                <div class="item">
                                                    <i class="icon eye"></i> 158
                                                </div>
                                            </div>
                                        </div>
                                        <div class="five wide column aligned right">
                                            <a href="#" target="_blank" class="ui label teal basic m-text-thin m-padded-tiny">认知升级</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="column">
                                            <a class="ui left pointing label basic teal m-text-thin m-padded-tb-mini ">方法论</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank" >
                                    <img style="width: 400px; height: 170px" class="ui image rounded" src="../static/images/jinlan.jpg" alt="dio">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment padded vertical m-padded-tb-big">
                        <div class="ui grid mobile reversed stackable">
                            <div class="eleven wide column">
                                <h3 class="ui header ">我的《母亲》</h3>
                                <p class="m-text">
                                    母亲的记忆大多都是浙江开始的，别看敖丙是个贵州遵义人，但是成长基本上都是在浙江了。
                                    打记事以来就是跟父母在浙江各大城市打工游离，这可能也是云贵川一带打工人当时的状况。
                                    庆幸的是，不管多苦多累，父母都选择了把我带在身边，不离不弃，没让...
                                </p>
                                <div class="ui grid">
                                    <div class="row">
                                        <div class="eleven wide column">
                                            <div class="ui link list horizontal">
                                                <div class="item">
                                                    <img src="../static/images/dio.jpg" alt="dio" class="ui image avatar">
                                                    <div class="content"><a href="#" class="header">小容</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="icon calendar"></i> 2020年7月3日
                                                </div>
                                                <div class="item">
                                                    <i class="icon eye"></i> 158
                                                </div>
                                            </div>
                                        </div>
                                        <div class="five wide column aligned right">
                                            <a href="#" target="_blank" class="ui label teal basic m-text-thin m-padded-tiny">认知升级</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="column">
                                            <a class="ui left pointing label basic teal m-text-thin m-padded-tb-mini ">方法论</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank" >
                                    <img style="width: 400px; height: 170px" class="ui image rounded" src="../static/images/jinlan.jpg" alt="dio">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment padded vertical m-padded-tb-big">
                        <div class="ui grid mobile reversed stackable">
                            <div class="eleven wide column">
                                <h3 class="ui header ">我的《母亲》</h3>
                                <p class="m-text">
                                    母亲的记忆大多都是浙江开始的，别看敖丙是个贵州遵义人，但是成长基本上都是在浙江了。
                                    打记事以来就是跟父母在浙江各大城市打工游离，这可能也是云贵川一带打工人当时的状况。
                                    庆幸的是，不管多苦多累，父母都选择了把我带在身边，不离不弃，没让...
                                </p>
                                <div class="ui grid">
                                    <div class="row">
                                        <div class="eleven wide column">
                                            <div class="ui link list horizontal">
                                                <div class="item">
                                                    <img src="../static/images/dio.jpg" alt="dio" class="ui image avatar">
                                                    <div class="content"><a href="#" class="header">小容</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="icon calendar"></i> 2020年7月3日
                                                </div>
                                                <div class="item">
                                                    <i class="icon eye"></i> 158
                                                </div>
                                            </div>
                                        </div>
                                        <div class="five wide column aligned right">
                                            <a href="#" target="_blank" class="ui label teal basic m-text-thin m-padded-tiny">认知升级</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="column">
                                            <a class="ui left pointing label basic teal m-text-thin m-padded-tb-mini ">方法论</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank" >
                                    <img style="width: 400px; height: 170px" class="ui image rounded" src="../static/images/jinlan.jpg" alt="dio">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment padded vertical m-padded-tb-big">
                        <div class="ui grid mobile reversed stackable">
                            <div class="eleven wide column">
                                <h3 class="ui header ">我的《母亲》</h3>
                                <p class="m-text">
                                    母亲的记忆大多都是浙江开始的，别看敖丙是个贵州遵义人，但是成长基本上都是在浙江了。
                                    打记事以来就是跟父母在浙江各大城市打工游离，这可能也是云贵川一带打工人当时的状况。
                                    庆幸的是，不管多苦多累，父母都选择了把我带在身边，不离不弃，没让...
                                </p>
                                <div class="ui grid">
                                    <div class="row">
                                        <div class="eleven wide column">
                                            <div class="ui link list horizontal">
                                                <div class="item">
                                                    <img src="../static/images/dio.jpg" alt="dio" class="ui image avatar">
                                                    <div class="content"><a href="#" class="header">小容</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="icon calendar"></i> 2020年7月3日
                                                </div>
                                                <div class="item">
                                                    <i class="icon eye"></i> 158
                                                </div>
                                            </div>
                                        </div>
                                        <div class="five wide column aligned right">
                                            <a href="#" target="_blank" class="ui label teal basic m-text-thin m-padded-tiny">认知升级</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="column">
                                            <a class="ui left pointing label basic teal m-text-thin m-padded-tb-mini ">方法论</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank" >
                                    <img style="width: 400px; height: 170px" class="ui image rounded" src="../static/images/jinlan.jpg" alt="dio">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- 底部 -->
    <footer class="ui vertical segment inverted m-padded-tb-massive">
        <div class="ui container center aligned">
            <div class="ui grid divided inverted stackable">
                <div class="three wide column">
                    <div class="ui list link inverted">
                        <div class="item">
                            <h4>锦兰↓</h4>
                            <img style="height: 200px" src="../static/images/jinlan.jpg" class="ui image rounded" alt="">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4>最新博客</h4>
                    <div class="ui list link inverted m-opacity-mini m-text-thin m-text-spaced">
                        <a href="#" class="item">博客1</a>
                        <a href="#" class="item">博客2</a>
                        <a href="#" class="item">博客3</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4>联系我</h4>
                    <div class="ui list link inverted m-opacity-mini m-text-thin m-text-spaced ">
                        <a href="#" class="item">QQ:88888888</a>
                        <a href="#" class="item">Email:88888888@qq.com</a>
                        <a href="#" class="item">Tel:13888888888</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4>最新博客</h4>
                    <p class="m-opacity-mini m-text-thin m-text-spaced">这是我的一些博客内容。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。</p>
                </div>
            </div>
            <div class="ui divider section inverted"></div>
            <p class="m-opacity-mini m-text-thin m-text-spaced">京ICP证030173号 京网文|2013|0934-983号 Copyright ©2020 Xiaorong</p>
        </div>
    </footer>

<script src="../static/js/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });
    </script>
</body>

</html>