<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客发布</title>
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css" th:href="@{/lib/editormd/css/editormd.min.css}">
</head>
<body>
    <!-- 导航 -->
    <nav th:replace="admin/_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini">
        <div class="ui container">
            <div class="ui inverted menu secondary stackable">
                <h2 class="ui teal header item">管理后台</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon "></i>博客</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon "></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon "></i>标签</a>
                <div class="right menu m-item m-mobile-hide">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img class="ui avatar image" src="../../static/images/dio.jpg" alt="">
                            xiaorong
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item" href="#">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="menu toggle ui black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu" th:object="${blog}">
                <a href="#" th:href="@{/admin/blogs/input}" class="active item">发布</a>
                <a href="#" th:href="@{/admin/blogs}" class="teal item">列表</a>
            </div>
        </div>
    </div>
    <!-- 中间 -->
    <div class="m-padded-tb-large m-container">
        <div class="ui container">
           <form id="blog-form" th:object="${blog}" action="#" th:action="@{/admin/blogs}" method="post" class="ui form">
               <input hidden name="publishable">
               <input hidden name="id" th:value="*{id}">
                   <div class="field required">
                       <div class="ui left labeled input">
                           <div class="ui selection teal basic dropdown label">
                               <input type="hidden" value="原创">
                               <i class="dropdown icon"></i>
                               <div class="default text">原创</div>
                               <div class="menu">
                                   <div class="item" data-value="原创">原创</div>
                                   <div class="item" data-value="转载">转载</div>
                                   <div class="item" data-value="翻译">翻译</div>
                               </div>
                           </div>
                           <input th:value="*{title}" type="text" name="title" placeholder="标题">
                       </div>
                   </div>
                   <div class="required field">
                       <div id="md-content" style="z-index: 1;">
                           <textarea th:text="*{content}" placeholder="博客内容" name="content" style="display: none"></textarea>
                       </div>
                   </div>
               <div class="two fields">
                   <div class="required field">
                       <div class="ui left labeled input">
                           <label class="ui compact teal basic label">分类</label>
                           <div class="ui selection dropdown fluid">
                               <input type="hidden" name="type.id" th:value="*{type}!=null?*{type.id}">
                               <i class="dropdown icon"></i>
                               <div class="default text">分类</div>
                               <div class="menu">
                                   <div th:each="type : ${types}" th:data-value="${type.id}" th:text="${type.name}" class="item" data-value="1">错误日志</div>
                                   <!--/*-->
                                    <div class="item" data-value="2">开发者手册</div>
                                   <!--*/-->
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="field">
                       <div class="ui left labeled input">
                           <label class="ui compact teal basic label">标签</label>
                           <div class="ui tag selection multiple search dropdown fluid">
                               <input type="hidden" name="tagIds" th:value="*{tagIds}">
                               <i class="dropdown icon"></i>
                               <div class="default text">标签</div>
                               <div class="menu">
                                   <div th:each="tag : ${tags}" th:data-value="${tag.id}" th:text="${tag.name}" class="item" data-value="1">java</div>
                                   <!--/*-->
                                   <div class="item" data-value="2">JavaScript</div>
                                   <!--*/-->
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="required field">
                   <div class="ui left labeled input">
                       <label class="ui teal basic label">首图</label>
                       <input type="text" name="firstPicture" th:value="*{firstPicture}" placeholder="首图引用地址">
                   </div>
               </div>
               <div class="required field">
                   <textarea maxlength="200" name="description" th:text="*{description}" placeholder="博客描述..."></textarea>
               </div>
               <div class="inline fields">
                   <div class="field">
                       <div class="ui checkbox">
                           <input type="checkbox" checked name="recommand" th:checked="*{recommand}" id="recommand" class="hidden">
                           <label for="recommand">推荐</label>
                       </div>
                   </div>
                   <div class="field">
                       <div class="ui checkbox">
                           <input type="checkbox" name="shareable" th:checked="*{shareable}" id="shareable" class="hidden">
                           <label for="shareable">转载声明</label>
                       </div>
                   </div>
                   <div class="field">
                       <div class="ui checkbox">
                           <input type="checkbox" name="commendable" th:checked="*{commendable}" id="commendable" class="hidden">
                           <label for="commendable">赞赏</label>
                       </div>
                   </div>
                   <div class="field">
                       <div class="ui checkbox">
                           <input type="checkbox" name="evaluable" th:checked="*{evaluable}" id="evaluable" class="hidden">
                           <label for="evaluable">评论</label>
                       </div>
                   </div>
               </div>
               <div class="ui error message"></div>
               <div class="ui container right aligned">
                   <button type="button" onclick="window.history.go(-1)" class="ui button">返回</button>
                   <button type="button" id="save-btn" class="ui secondary button">保存</button>
                   <button type="button" id="publish-btn" class="ui teal button">发布</button>
               </div>
           </form>
        </div>
    </div>
    <!-- 底部 -->
    <footer th:replace="admin/_fragments :: footer"></footer>
    <!--    javascript-->
    <th:block th:replace="admin/_fragments :: script">
        <script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
        <script src="../../static/js/jquery-3.5.1.min.js" th:src="@{/js/jquery-3.5.1.min.js}"></script>
    </th:block>
    <script>
        // 初始化markdown编辑器
        var contentEditor;
        $(function() {
            contentEditor = editormd("md-content", {
                width   : "100%",
                height  : 640,
                syncScrolling : "single",
                path    : "/lib/editormd/lib/"
            });
        });

        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });
        $('.ui.dropdown').dropdown({
            on : 'hover'
        });
        $('.ui.tag.dropdown').dropdown({
           allowAdditions:true
        });
        $('#save-btn').click(function () {
            $("[name='publishable']").val(false);
            $("#blog-form").submit();
        });
        $('#publish-btn').click(function () {
            $("[name='publishable']").val(true);
            $("#blog-form").submit();
        });
        $('.ui.form').form({
            fields:{
                title:{
                    identifier: 'title',
                    rules: [{
                        type:'empty',
                        prompt: '标题：请输入博客标题'
                    },{
                        type: 'maxLength[15]',
                        prompt: '标题：最大长度为15！'
                    }]
                },
                content:{
                    identifier: 'content',
                    rules: [{
                        type: 'empty',
                        prompt: '内容：请输入博客内容'
                    }]
                },
                typeId:{
                    identifier: 'typeId',
                    rules: [{
                        type: 'empty',
                        prompt: '内容：请输入分类内容'
                    }]
                },
                firstPicture:{
                    identifier: 'firstPicture',
                    rules: [{
                        type: 'empty',
                        prompt: '内容：请输入首图内容'
                    }]
                },
                description:{
                    identifier: 'description',
                    rules: [{
                        type: 'empty',
                        prompt: '内容：请输入描述内容'
                    }]
                }
            }
        });

    </script>
</body>

</html>